@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  text-transform: capitalize;
  transition: .5s;
  font-family:  'Poppins', sans-serif;
}


:root{
  --black:#000; 
  --light-bg:#333;
   --green:#1daa61;

/*  --green:#69AB7B;*/
  --d-green : #4B895C;
  --g-hover: #3F6C4B;
  --body-font: 'Poppins', sans-serif;
 --text-transform: capitalize;
}

html{
  font-size: 62.5%;
  
  font-style:'Poppins', sans-serif;
}
body{
  background: #fff;
  font-style:'Poppins', sans-serif;
  width: 100%;
}

section{
  max-width: 120rem;
    padding-right :3rem;
    padding-left :3rem;

}


.main-home{
     justify-content: center;
    align-items: center;


}

.main-home .links{
      justify-content: center;
    align-items: center;

}



.btn{
  display: flex;
  justify-content: center;
  
  
}

.about p{
  line-height: 2.8rem;
}




